@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        var w = '@TempData["w"]';
        var len = @TempData["w"].ToString().Length;
        var delay = 5;
        function check() {
            var numcorrect = 0;
            for (i = 0; i < len; i++) {
                console.log("#" + i);
                if (w[i].toLowerCase() == $("[name='" + i + "A']")[0].value.toLowerCase()) {
                    numcorrect++;
                    $("[name='" + i + "A']")[0].readOnly = true;
                    $("[name='" + i + "']")[0].classList.add("correct");
                    $("[name='" + i + "']")[0].value = w[i];
                }
            }
            if (numcorrect == len) {
                correct();
            }
            $("#check")[0].disabled = false;

        }
        function updateTimer(time) {
            $("#check")[0].disabled = true;
            var t = time;
            var timer = setInterval(function () {
                if (t < 0) {
                    $("#timer")[0].innerHTML = "0s";
                    $("#timer")[0].style.color = "#1A4";
                    clearInterval(timer);
                    check();
                } else {
                    t = t.toFixed(2);
                    $("#timer")[0].innerHTML= t + "s";
                    t = t - 0.01;
                }
            }, 10)
            
        }
    </script>
</head>
<body>
    <div>
        @{ int num = 0; int numA = 0;}
        @foreach (char a in TempData["w"].ToString())
        {
            @Html.TextBox(num.ToString(), null, new { @class = "pwbox", @readonly = true });
            num++;
        }
        <br /><div name="previous"></div><br />
        @foreach(char a in TempData["w"].ToString())
        {
            @Html.TextBox(numA.ToString() + "A", null, new { @class = "abox", @maxlength = "1" });
            numA++;
        }
        <button id="check" name="submit" type="button" onclick="updateTimer(5);">Check</button>
        <br /><p id="timer">5s</p>
    </div>
</body>

</html>
